body {
    background-color: rgb(22, 20, 20);
    color: white;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: aqua;
    margin-bottom: 50px;
    color: black;
    font-size: 1.6rem;
}

#text {
    background-color: gray;
    padding: 50px;
    width: 50%;
    text-align: center;
    margin: 10px auto;
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}